.header {
  // position: fixed;
  // left: 0;
  // top: 0;

  &__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    border-bottom: 1px solid var(--neutral-200);
    padding: 16px 0;
    gap: 24px;
  }

  &__logo {
    justify-self: start;
  }

  &__nav {
    justify-self: center;
  }

  &__action {
    justify-self: end;
  }
}
