.blog {

  &__bange {}

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__title {}

  &__link {
    flex-shrink: 0;
  }

  &__descr {
    margin-bottom: 44px;
    max-width: 551px;
  }

  &__posts {}
}
